{% extends 'basetemplate.html.twig' %}
{% block title %}New Product{% endblock %}

{% block content %}
	{{ form_start(form) }}
	<select name="category" id="">
		{% for cat in category %}
			<option value="{{cat.id}}">{{cat.namecat}}</option>
		{% endfor %}
	</select>
	{{ form_widget(form) }}
	{{ form_end(form) }}


	 
{% endblock %}