{% extends 'basetemplate.html.twig' %}
{% block title %}{{product.productname}} list{% endblock %}

{% block content %}
	{% for cat in category %}
		<h2>{{cat.namecat}}</h2>
	{% endfor %}
	<h3>{{product.productname}}</h3>
	<p>{{product.description}}</p>
	<a href="{{path('prodedit', {'slug': product.id })}}">Edit product</a>
{% endblock %}